<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompanyManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompanyManagementSystem.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/Dunder-Mifflin-logo.png" alt="DunderMifflin" width="90" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarScroll">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="dashboard" asp-action="index">Dashboard</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/">HomePage</a></li>
                                    <li><a class="dropdown-item" href="/#service">Services</a></li>
                                    <li><a class="dropdown-item" href="/#about">About Us</a></li>
                                    <li><a class="dropdown-item" href="/#social">Contact Us</a></li>
                                </ul>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Staff</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="employees" asp-action="Index">Employee</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="clients" asp-action="Index">Client</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="sales" asp-action="Index">Sales</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="workswiths" asp-action="Index">WorksWith</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="branch" asp-action="index">Branch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="branchsuppliers" asp-action="index">Branch Supplier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="products" asp-action="index">Products</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="AppRoles" asp-action="index">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="auditlogs" asp-action="index">Logs</a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Help</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://scribehow.com/shared/Register_and_login_on_a_website_guide__SXyTmZfnTXqlnPFry17u0w" target="_blank">Register_login_guide</a></li>
                                <li><a class="dropdown-item" href="https://scribehow.com/shared/Guide_to_Making_Sales_in_Staff_Panel__Wx-QBgKsRNeYURd-8-Xwiw" target="_blank">Make Sale Guide</a></li>
                                <li><a class="dropdown-item" href="https://scribehow.com/shared/User_Profile__tansjB7kTqOy-_koG0gGaw" target="_blank">User Profile Guide</a></li>

                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-0" style="margin-bottom: 61px;">
        @if (IsSectionDefined("title"))
        {

            <div class="">
                @RenderSection("title")
                <hr />
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CompanyManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
