@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
@if (@TempData["loggedIn"] != null)
{

	<div class="alert alert-success alert-dismissible" role="alert">
		@TempData["loggedIn"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<section id="banner">
	<div class="container-fluid" id="banner-container">
		<div class="row" id="banner-row">
			<div class="col-md-7" id="banner-col">
				<h3>BEST PROFESSIONAL AND FAST PAPER AND OFFICE SUPPLY COMPANY
				</h3>
				<p>Dunder Mifflin is presented as a mid-sized regional paper and office supply company with a diverse range of products, including paper, printer ink, pens, notepads, and various office essentials. The company caters to businesses of all sizes, from small local enterprises to larger corporations
					.</p>

				<div class="d-grid gap-2 d-md-flex justify-content-center">
					<a href="#" class="btn btn-primary" role="button"></a>
				</div>
			</div>
			<div class="col-md-5" id="banner-col2">
				<img src="~/images/12.webp" alt="banner" class="img-responsive rounded mx-auto d-block">
			</div>
		</div>
	</div>
</section>

<!-- services -->
<section id="service">
	<h1 class="text-center">SERVICES</h1>
	<div class="container-fluid" id="service-container">
		<div class="row" id="banner-row">
			<div class="col-md-4" id="service-col1">
				<img src="~/images/22.webp" class="img-fluid rounded mx-auto d-block" alt="services">
				<h3>Office Supply Distribution</h3>
				<p>Office Supply Distribution:

					Dunder Mifflin is primarily known for its distribution of office supplies. The company offers a comprehensive range of products, including paper, printer ink, pens, notebooks, staplers, and other essential office items. Businesses can rely on Dunder Mifflin to fulfill their day-to-day operational needs by providing a one-stop-shop for a wide variety of office supplies.</p>
						
			</div>
			<div class="col-md-4" id="service-col2">
        <img src="~/images/12.webp" alt="img-fluid rounded mx-auto d-block">
				<h3>Paper Products</h3>
				<p>A significant portion of Dunder Mifflin's business revolves around paper products. The company manufactures and distributes various types of paper, such as copier paper, specialty paper, and notebooks. The emphasis is on providing high-quality paper that meets the printing and writing requirements of businesses. This service caters to offices and organizations that heavily rely on paper for documentation and communication.</p>
			</div>
			<div class="col-md-4" id="service-col3">
				<img src="~/images/22.webp" alt="img-fluid rounded mx-auto d-block">
				<h3>Customer Service and Support</h3>
				<p>Dunder Mifflin places a strong emphasis on customer service. The company is depicted as having a team of quirky and often humorous employees, such as the sales team led by characters like Jim Halpert and Dwight Schrute. The customer service aspect involves assisting clients with product inquiries, order processing, and addressing any issues or concerns promptly. The company strives to build relationships with its customers, offering a personalized and friendly experience.
				</p>
			</div>
		</div>
	</div>
</section>
<hr/>  

<!-- about us -->
<section id="about">
	<h1 class="text-center">ABOUT US</h1>
	<div class="container-fluid" id="about-container">
		<div class="row" id="banner-row">
			<div class="col-md-5" id="about-col">
				<ul style="font-size: 19px;">
					<li>
						
							Welcome to Dunder Mifflin, your one-stop destination for all your paper and office supplies needs. Founded in 2023, we have been proudly serving businesses and individuals alike with high-quality products and exceptional customer service.
					</li>
					<li>
							At DunderMifflin, we understand the importance of reliable office supplies to keep your business running smoothly. Whether you need printer paper, pens, notebooks, or other essential office items, we have a wide range of products to meet your requirements
					</li>
					<li>
							Our commitment to quality extends beyond our products to our customer service. Our knowledgeable team is dedicated to providing personalized assistance and ensuring your complete satisfaction with every purchase.
					</li>
										
				</ul>
			</div>
			<div class="col-md-7" id="banner-col2">
				<img src="~/images/22.webp" class="img-responsive rounded mx-auto d-block">
			</div>
		</div>
	</div>
</section>
<hr/>

<!-- Footer -->

<section id="social">
	<section id="banner">
		<div class="container-fluid" id="banner-container">
			<div class="row" id="banner-row">
				<div class="col-md-4" id="footer-col1">
					<h1></h1>
					<p>
						At Dunder Mifflin we believe that customers should always get easy-to-use, best in the kind and fast services. Our company has achieved
						standards which helps customer to achieve satisfaction and realize value for their hard earned money.</p>
				</div>
				<div class="col-md-4" id="footer-col2">
					<h3>Contact Us</h3>
					<p>Call Us: 1800 919 8872</p>
                    <p>Email Us: <a href="mailto:mifflindunder980@gmail.com">mifflindunder980@gmail.com</a></p>
				</div>
				<div class="col-md-4" id="footer-col2">
					<h3>Subscribe to Newsletter</h3>
					<form >
						<div class="mb-3">
							<input type="email" placeholder="Enter Your Email" class="form-control"
							id="exampleInputEmail" aria-describedby="emailHelp"/>
							<div class="form-text" id="emailHelp">
								We'll never share your email to anyone else.
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</section>
