html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* banner */

#banner-container {
    background-color: #535858;
    color: #fff !important;
    padding-top: 80px;
    padding-bottom: 80px;
}

#banner-row img {
    max-width: 65%;
    height: auto;
    display: block;
    padding-left: 30px;
}

#banner-row a {
    background-color: #fff !important;
    color: #000 !important;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

#banner-row h3, p {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}

#banner-col {
    padding-left: 20px;
}
/* service */
#service {
    padding-top: 20px;
    padding-bottom: 20px;
}

#service {
    background-color: #6a8686;
}

    #service h1 {
        padding-bottom: 70px;
    }

/* about us */

#about {
    padding-top: 80px;
    padding-bottom: 80px;
}

#about {
    background-color: rgb(112, 135, 139);
}

    #about h1 {
        padding-bottom: 70px;
    }

#about-col ul {
    padding-top: 50px;
    padding-left: 50px;
}

    #about-col ul li {
        padding-top: 15px;
    }

/* products */
#product {
    padding-top: 80px;
    padding-bottom: 80px;
}

#product {
    background-color: #615c5f;
}

    #product h1 {
        padding-bottom: 70px;
    }

#product-col2 ul {
    padding-top: 90px;
}

    #product-col2 ul li {
        padding-top: 15px;
    }
/* footer */
.mb-3 {
    padding-top: 10px;
}

@media only screen and (max-width:960px) {
    .navbar-brand {
        padding-left: 0;
    }
}

@media only screen and (max-width:760px) {
    #banner-row img {
        padding-top: 20px;
    }

    .social-col {
        width: 33%;
    }
}